<div class="container" ng-app="BrickOven" ng-controller="BrickOven as main">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center header">
            <h1>Car Finder</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="drop1" data-toggle="dropdown" aria-expanded="true">
                    Make
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">yourMake</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>