<div class="container" ng-app="BrickOven" ng-controller="CarController as main">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form ng-submit="main.submitFilter()">
                <table class="table table-clickable">
                    <thead>
                        <tr>
                            <th ng-repeat="trait in main.traits">
                                <!--<form ng-submit="main.filter = main.makeFilter(main.traits)">-->
                                <div class="capital"
                                     ng-click="main.select(trait)">
                                    {{trait.name}}
                                </div>
                                <input type="text" class="textbox-camo "
                                       ng-model="trait.val" 
                                       ng-options="x for x in main[trait.mid + 's']"
                                       placeholder="Enter a {{trait.name}}"
                                       bs-typeahead 
                                       />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="car in main.cars">
                            <td ng-repeat="trait in main.traits"> {{car[trait.mid]}}</td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" style="position: absolute; left: -9999px"/> <!-- Keep button outside the view. -->
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
    </div>
</div>