<div class="container" ng-app="BrickOven" ng-controller="CarController as main">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-clickable">
                <thead>
                    <tr>
                        <th> 
                            <div ng-show="!main.headsel[0]"> Make </div>
                            <input type="text" class="form-control" 
                                   ng-show="main.headsel[0]" />
                        </th>
                        <th> 
                            <div ng-show="main.headsel[1]"> Year </div>
                            <input type="text" class="form-control" />
                        </th>
                        <th ng-click="main.select(0)"> Model </th>
                        <th> Body Style </th>
                        <th> Seats </th>
                        <th> Fuel </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in main.cars">
                        <td> {{car["make"]}}</td>
                        <td> {{car["year"]}}</td>
                        <td> {{car["model"]}}</td>
                        <td> {{car["body"]}}</td>
                        <td> {{car["seats"]}}</td>
                        <td> {{car["fuel"]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>