<div class="container" ng-app="BrickOven" ng-controller="CarController as main">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form ng-submit="main.submitFilter()">
                <table class="table table-clickable">
                    <thead>
                        <tr>
                            <th ng-repeat="trait in main.traits">
                                <!--<form ng-submit="main.filter = main.makeFilter(main.traits)">-->
                                <div ng-show="!trait.view" class="capital"
                                     ng-click="main.select(trait)">
                                    <p>{{trait.name}}</p>
                                    <p><i>{{trait.value}}</i></p>
                                </div>
                                <input type="text" class="form-control"
                                       ng-show="trait.view"
                                       ng-model="trait.val" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="car in main.cars">
                            <td ng-repeat="trait in main.traits"> {{car[trait.mid]}}</td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" style="position: absolute; left: -9999px"/> <!-- Keep button outside the view. -->
            </form>
            <p>{{main.traits}}</p>
            <p>{{main.filter}}</p>
        </div>
    </div>
</div>